{% extends 'base.html' %}
{% block title %}Update Profile{% endblock title %}
{% block task %}
<style>
    .res{
        width: 50%;
        background:orange;
        margin:auto;
        border-radius:10px;
        padding:40px;
    }
    .resform{
        width: 70%;
        color:white;
        text-align:center;
        margin-bottom:10px
    }
    .signBtn{
        background-color:#FF033E;
        margin-top: 20px;
    }
    .django_password_eye{
        display:flex;
        position: relative;
        left:115px;
        bottom:10px;
    }
    .form-control{
        padding:6px;
        border-radius: 5px;
    }

    {% comment %} label[for="id_password"] {
        position:relative;
        top:24px

    }  {% endcomment %}

    .helptext{
        display: block;
    }


    .input-group-addon.form-control.link {
    background-color: transparent  !important;
    border:none;

    }
    .input-group-addon.form-control.link  i{
        cursor: pointer;
    }
    .errorlist.nonfield{
        background-color: rgb(255, 193, 7);
        color:white;
        border-radius:10px;
        margin-bottom:10px;
        padding:10px
    }
</style>
<div class="res ">
    <h2 class=" resform  font-bold text-2xl">
    Update_Profile
</h2>
          <div class="m-auto">
        
            {% if messages %}
                {% for message in messages %}
                    <div class="px-2 py-1 w-4/6 border rounded-lg text-white m-3
                        {% if message.tags == 'success' %}bg-green-500
                        {% elif message.tags == 'warning' %}bg-orange-400
                        {% elif message.tags == 'error' %}bg-red-600
                        {% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %} 

            
    </div>
 <form method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    {{form.as_p}}
    <button class="signBtn p-2 rounded text-white" type="submit">Update_Profile</button>
    <button class="bg-black p-2 rounded text-white" type="submit"><a href="{% url 'profile' %}">Back</a></button>
</form>

</div>

{% endblock task %}